:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@layer base {
  * {
    @apply border-border outline-ring/50 font-primary text-foreground;
  }
  body {
    @apply bg-background text-foreground items-center overflow-x-hidden justify-center;
  }
  button {
    @apply cursor-pointer;
  }
}
